/********** GLOBALS *******/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 35px;
}

section {
  padding: 60px 10px;
}

section:nth-of-type(odd) {
  color: #457fca;
  background-color: #f5f5f5;
}

section:nth-of-type(even):not(:last-of-type) {
color: #f5f5f5;

background: #457fca;
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  
background: linear-gradient(to right, #5691c8, #457fca);
}

#my-projects {
  color: #f5f5f5;
}

b, strong {
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.95rem;
}

.container {
width: 45%;
margin: 0 auto;
}

i:not(.fab) {
  margin-top: -25px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 40px 20px 25px 20px;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

#logo {
  width: 35px;
  height: 15px;
  margin-bottom: -1px;
}

/******* END GLOBALS ***********/

/********** HEADER ***********/
header {
color: #f5f5f5;
height: 70vh;
background-size: cover;
background-position: bottom;
background-attachment: fixed;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: -1;
font-size: 1.3rem;

/* background: #457fca;
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  */
background-image: url(./images/manny-pantoja2.jpg);
background-image: linear-gradient(to right, rgba(86, 145, 200, 0.8), rgba(69, 127, 202, 0.3)), url(./images/manny-pantoja2.jpg);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

header p {
  font-size: .9rem;
}

.header-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  text-shadow: 1px 1px 5px black;
  font-size: 1.8rem;
}

.header-text p {
  margin-top: 20px;
}


  /****** NAVBAR *********/
.nav {
  position: fixed;
  color: #f5f5f5;
  top: 0;
  left:  0;
  right: 0;
  z-index: 5;
  transition: all 0.6s ease-in;
}

.nav-transparent {
  background-color: #333;
}

.nav span {
  position: absolute;
  top: 5px;
  left: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(254, 113, 77);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 5px 20px;
  font-size: 0.90rem;
  position: relative;
}

.nav li:after {
  content: "";
  position: absolute;
  border: 1px solid rgb(254, 113, 77);
  bottom:4px;
  left: 0;
  width: 1%;
  opacity: 0;
  transition: all 0.5s ease;
}

.nav li:hover:after {
  opacity: 1;
  width: 100%;
}

.fa-bars {
  position: absolute;
  right: 10px;
  top: 32px;
}

/** position: absolute; left -999em is industry standard **/
.hide {
  display: none;
}

@media screen and (max-width: 740px) {
 
  .fa-bars {
    display: inline;
  }

  .nav ul {
    visibility: hidden;
    background-color: #333;
    position: absolute;
    top: 40px;
    left: -740px;
    right: 740px;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: all .4s ease;
    overflow: hidden;
    height: 50px;
  }

  .nav ul li {
    font-size: 0.7rem;
    margin: 10px 20px;
  }
  
  .nav ul.show {
    display: block;
    visibility: visible;
    left: 0;
    right: 0;
  }
}

/** Hiding non-essential navigation links on smaller screens **/
@media screen and (max-width: 490px) {
  #nav-cert {
    display: none;
  }
}

@media screen and (max-width: 385px) {
  #nav-work {
    display: none;
  }
}
  /********* END NAVBAR  ********/
/************ END HEADER *********************/


/************ ABOUT ME *****************/
#about-me {
  margin-top: 70vh;
}

@media screen and (max-height: 900px) {
  #about-me {
    margin-top: 580px; /* Fallback */
    margin-top: 60vh;
  }

  .header-text {
    transform: translate(-50%, -45%);
  }
}

#about-me p {
  font-weight: 300;
  text-align: justify;
  margin-top: 20px;
}

/********* END ABOUT ME *************/

/*********** MY SKILLS  ********/
#my-skills p {
  margin:10px 0 20px 0;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

@media screen and (max-width: 500px) {
  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.skill {
  margin: 0 15px 20px 15px;
}

i.devicon-html5-plain,
i.devicon-css3-plain,
i.devicon-javascript-plain,
i.devicon-jquery-plain-wordmark,
i.devicon-bootstrap-plain,
i.devicon-git-plain {
font-size: 2.8rem;
}

@media screen and (max-width:740px) {
  i.devicon-html5-plain,
  i.devicon-css3-plain,
  i.devicon-javascript-plain,
  i.devicon-jquery-plain-wordmark,
  i.devicon-bootstrap-plain,
  i.devicon-git-plain {
    font-size: 2.3rem;
    }
}

.future-skills p {
  text-align: justify !important;
}

/********** END MY SKILLS **********/

/************** MY CERTIFICATES ***********/
  #my-certificates p {
    text-align: left;
  }

  #my-certificates ul {
    margin-top: 20px;
    list-style: none;
    text-align: left;
    list-style: initial;
    margin-left: 15px;
  }

  #my-certificates li {
    margin-top: 10px;
  }

  #my-certificates i {
    margin-bottom: 20px;
  }

/******************************************/


/*********** MY PROJECTS ***********/
#my-projects .container > p {
  text-align: justify;
  margin: -10px auto 20px auto;
  width: 70%;
}

@media screen and (max-width: 570px ) {
  #my-projects .container > p {
    margin: 0px;
    width: 100%;
    padding: 0 25px 10px 25px;
  }
}

h4 {
  color: rgb(69, 127, 202);
  margin: -15px auto -15px auto;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid > div {
  font-size: 0.8rem;
  border-radius: 2px;
  margin: 25px 50px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 5px #333;
  transition: all 0.3s ease-in-out;
  position: relative;
  background-color: #f5f5f5;
}

/* Making the whole div clickable as a link, which is inside the div */
.grid > div a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* Make link cover other elements inside the div */
  z-index: 10;
  /* Workarounds for IE to make link clickable */
  background-color: #f5f5f5;
  opacity: 0;
  filter: alpha(opacity=0);
}

.grid div:hover:not(.gdiv)  {
transform: scale(1.035);
box-shadow: 0 4px 5px #333;
}

.grid div:hover .gdiv {
  filter: grayscale(0%);
}

.grid p {
  line-height: 20px;
  color: #333;
  padding: 5px;
  padding: 20px;
  text-align: justify;
}

/* Inner image */
.gdiv {
  box-sizing: border-box;
  filter: grayscale(20%);
  height: 130px;
  width: 100%;
  margin: 0 auto 20px auto;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease-in-out;
}

#my-projects .container {
  padding: 0;
  width: 60%;
}

@media screen and (min-width: 570px) and (max-width: 830px) {
  .grid > div {
    width: 40%;
    margin: 25px 25px;
  }
}

@media screen and (min-width: 830px) {
  .grid > div {
    width: 25%;
    margin: 25px 25px;
  }
}

@media screen and (max-width: 1430px) {
  #my-projects .container {
    width: 80%;
  }
}

@media screen and (max-width: 1150px) {
  #my-projects .container {
    width: 100%;
    padding: 0;
  }

  .container {
    width: 85%;
  }
}

.to-do {
background-image: url(./images/to-do.PNG);
background-size: cover;
background-position: top; }
              
.weather-app {
background-image: url(./images/weather.PNG);
background-size: cover;
background-position: top; }
              
.drum-set {
background-image: url(./images/drum-set.PNG);
background-size: cover;
background-repeat: no-repeat;
background-position: center; }
              
.wikipedia-viewer {
background-image: url(./images/wikipedia-viewer.PNG);
background-size: cover;
background-position: center 70%; }
              
.quote-generator {
background-image: url(./images/quote-generator.PNG);
background-size: cover;
background-position: top; }
              
.delaius {
background-image: url(./images/delaius.PNG);
background-size: cover;
background-position: top; }

/************ END MY PROJECTS **********************/

body > p {
  background-color: #f5f5f5;
  color: rgb(69, 127, 202);
  padding: 100px;
}


/*********** BYE NOTE *********/
#bye-note a {
  color: rgb(69, 127, 202);
  text-decoration: underline;
}


/*********** FOOTER  ************/
footer {
  color: #f5f5f5;
  font-weight: initial;
  min-height: 10vh;
  padding: 40px 5px;
  position: relative;
  padding: 60px 0 80px 0;
  background-color: #333;
}

footer .fa-2x {
  font-size: 1.7rem;
}

footer p {
  font-size: 80%;
  position: absolute;
  bottom:10px;
  left: 0;
  right: 0;
}

hr {
  width: 45%;
  border: 0.2px solid rgba(255, 255, 255, 0.1);
  margin-top: 3px;
}

footer a {
  margin: 15px;
  transition: color .3s ease;
}

footer a:hover {
  color: rgb(254, 113, 77);
}

/********* END FOOTER ************/

@media screen and (max-width: 740px) {
  .nav {
    height: 40px;
    background-color: #333;
  }

  body {
    font-size: 0.85rem;
    line-height: 30px;
  }
  
  .header-text {
    font-size: 0.8rem;
    line-height: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #bye-note {
    padding: 20px;
  }

  footer {
    font-size: 0.6rem;
    padding: 60px;
  }
}